
header
	div(class="header-contenedor-Nombres")
		spam(class="header-contenedor-Nombres-Nombre")=nombre
		spam(class="header-contenedor-Nombres-Apellido")=apellido
		i(class="fa fa-align-justify")
	div(class="ContenedorMiBlog-izquierda")
		div(class="header-contenedor-Menu")
			div(class="contenedorDeOpcion-Header")
				a
					span=pestaniaUno		
			div(class="contenedorDeOpcion-Header")
				a
					span=pestaniaDos
			div(class="contenedorDeOpcion-Header")
				a
					span=pestaniaTres
			div(class="contenedorDeOpcion-Header")
				a
					span=pestaniaCuatro		