footer(class="Fotter")
	div(class="Fotter-1")
		div(class="Fotter-1-btn-HazteSocio")
	div(class="Fotter-2")
		div(class="Fotter-2-Colaboradores")
			span Colaboradores
			div(class="Fotter-2-Colaboradores-Img")
				img(src=rutaImagenes+"/inkuba.png")
				img(src=rutaImagenes+"/clicksandbricks.png")
				img(src=rutaImagenes+"/labase.png")
				img(src=rutaImagenes+"/mujeres.png")
		div(class="Fotter-2-Sponsor")
			span Sponsor
			div(class="Fotter-2-Sponsor-Img")
				img(src=rutaImagenes+"/bid.png")
	div(class="Fotter-3")
		div
			img(src=rutaImagenes+"/asep_footer.png")
		div
			nav(class="Fotter-3-Navegacion-Menu")
				ul
					li(class="li-active")
						a(class="active") Nosotros
					li
						a(class="inactive") Directorio
					li
						a(class="inactive") Actividades
					li
						a(class="inactive") Noticias
					li
						a(class="inactive") Beneficios
					li
						a(class="inactive") Pregúntanos
			div(class="Fotter-3-Letter")
				span(class="Fotter-3-Letter-Span").
					Miguel Dasso 153 - piso A - San Isidro / info@asep.pe 
				div(class="Emprendedor-RedesSociales")
					span(class="facebook")
						i(class="fa fa-facebook-official")
					span(class="twiter")
						i(class="fa fa-twitter-square")
					span(class="linkedin")
						i(class="fa fa-linkedin-square")
	div(class="Fotter-4")
		span Powered by La Base
		img(src=rutaImagenes+"/sombrero.png")