select(class="SelectAsep Dia")
	option Día
	each dia, i in datoSelectDia
		option(value=i) #{dia}
select(class="SelectAsep Mes")
	option Mes
	each mes, i in datoSelectMes
		option(value=i) #{mes}
select(class="SelectAsep Anio")
	option Año
	each anio, i in datoSelectAnio
		option(value=i) #{anio}