ul.pgwSlider
    //
        li
            img(src=imagen1, alt=titulo1, data-description='Eiffel Tower and Champ de Mars')        
        li
            img(src=imagen2, alt=titulo2, data-large-src=src2)
    li
        a(href=href1, target='_blank')
            img(src=imagen1)
            span=span1
    li
        a(href=href2, target='_blank')
            img(src=imagen2)
            span=span2
    li
        a(href=href3, target='_blank')
            img(src=imagen3)
            span=span3
    li
        a(href=href4, target='_blank')
            img(src=imagen4)
            span=span4
    li
        a(href=href5, target='_blank')
          img(src=imagen5)              
          span=span5 
