
div(class="TabsAsep")
	each pestania,index in pestanias
		div(class="TabsAsep-Pestania" data=index)
			div(class="TabsAsep-Pestania-Ttulo")
				div(class="TabsAsep-Pestania-Ttulo-Numero")=index
				div(class="TabsAsep-Pestania-Bloque2")
					div(class="TabsAsep-Pestania-Ttulo-Texto")=pestania
					div(class="TabsAsep-Pestania-Contenido")=pestaniasContenido[index-1]
div(class="TabsAsepMovil")
	each pestania,index in pestanias
		div(class="TabsAsepMovil-Pestania" data=index)
			span(class="TabsAsepMovil-Pestania-Numero")=index
			span(class="TabsAsepMovil-Pestania-Titulo")=pestania