extends ../layout/layout.jade
block head
	link(href='./hazte-socio.css' rel='stylesheet')
	script(src='./hazte-socio.js')
block header
	//header-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Login'
	- iconoUno='login_icon.png'
	- pestaniaDos='Hazte Socio'
	- iconoDos='socio_icon.png'
	include ../../../componentes/header/asep/header.jade
	//header-asep

block navegacion
	//navegacion-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno='Nosotros'
	- pestaniaDos='Directorio'
	- pestaniaTres='Actividades'
	- pestaniaCuatro='Noticias'
	- pestaniaCinco='Beneficios'
	- pestaniaSeis='Pregúntanos'
	include ../../../componentes/navegacion/asep/navegacion.jade
	//navegacion-asep	
block contenido
	//titulo-asep
	- rutaImagenes ='../../../imagenes'
	- tituloAsep='ÚNETE A LA ASEP'
	include ../../../componentes/titulo/asep/titulo.jade
	//titulo-asep

	//tabs-asep
	- rutaImagenes ='../../../imagenes'
	- pestaniaUno="Sobre ti"
	- contenidoUno="Queremos conocerte y saber cuáles son tus necesidades para emprender"
	- pestaniaDos="Sobre tu empresa"
	- contenidoDos="¿has fundado algún emprendimiento? Cuéntanos lo que haces"
	- pestaniaTres="Necesitamos de tu ayuda"
	- contenidoTres="Es la única forma de que hagamos de Perú el mejor lugar para emprender."
	- pestanias={1:pestaniaUno,2:pestaniaDos,3:pestaniaTres}
	- pestaniasContenido=[contenidoUno,contenidoDos,contenidoTres]	
	include ../../../componentes/tabs/asep/tabs.jade
	div(class="ContenedorDelTab")
		div(class="pestaniasPadre")
			div(class="pest")
				div(class="pest-Titulo").
					EN LA ASEP TE ENTREGAMOS HERRAMIENTAS ÚNICAS E INNOVADORAS PARA
					HACER DESPLEGAR TU EMPRENDIMIENTO.
				- labels=["Nombres: ","Apellidos: ","E-mail: ","Contraseña: ","Confirmar Contraseña: ","Documento De Identidad: ","Fecha De Nacimiento: ","Sexo: ","Nacionalidad: ","Departamento: ","Provincia: ","Distrito: ","Teléfono: ","Area De Interes: ","¿Ya tienes una empresa?"]
				div(class="labels")
					each label,index in labels
						div(class="labels-Cont")
							div(class="label-texto")=label
							if index==6
								div(class="label-input fechaNacimientoSlects" )
									//select-asep
									- opcionInicial="Día"
									- opciones=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]
									- classSelect="classSelect"
									include ../../../componentes/select/asep/select.jade
									//select-asep
									//select-asep
									- opcionInicial="Mes"
									- opciones=["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Setiembre","Octube","Noviembre","Diciembre"]
									- classSelect="classSelect"
									include ../../../componentes/select/asep/select.jade
									//select-asep
									//select-asep
									- opcionInicial="Año"
									- opciones=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]
									- classSelect="classSelect"
									include ../../../componentes/select/asep/select.jade
									//select-asep
							else if index==0
								div(class="label-input")
									//input-textAsep
									//EmailValidar,NombreValidar,ApellidoValidar,contraseniaValidar,DniValidar,TelefonoValidar
									- tipoDeInput="NombreValidar"
									- placeholder="Ej: Irvin Daniel"
									- tipo="text"
									include ../../../componentes/input/textAsep/input.jade
									//input-textAsep
							else if index==1
								div(class="label-input")
									//input-textAsep
									//EmailValidar,NombreValidar,ApellidoValidar,contraseniaValidar,DniValidar,TelefonoValidar
									- tipoDeInput="ApellidoValidar"
									- placeholder="Ej: MorenoChávez"
									- tipo="text"
									include ../../../componentes/input/textAsep/input.jade
									//input-textAsep
							else if index==2
								div(class="label-input")
									//input-textAsep
									//EmailValidar,NombreValidar,ApellidoValidar,contraseniaValidar,DniValidar,TelefonoValidar
									- tipoDeInput="EmailValidar"
									- placeholder="Ej: daniel.moreno@clicksandbricks.pe"
									- tipo="text"
									include ../../../componentes/input/textAsep/input.jade
									//input-textAsep
							else if index==3
								div(class="label-input")
									//input-textAsep
									//EmailValidar,NombreValidar,ApellidoValidar,contraseniaValidar,DniValidar,TelefonoValidar
									- tipoDeInput="ContraseniaValidar"
									- placeholder="Ej: clave142"
									- tipo="password"
									include ../../../componentes/input/textAsep/input.jade
									//input-textAsep
							else if index==4
								div(class="label-input")
									//input-textAsep
									//EmailValidar,NombreValidar,ApellidoValidar,contraseniaValidar,DniValidar,TelefonoValidar
									- tipoDeInput="confirmaContrasenia"
									- placeholder="Ej: clave142"
									- tipo="password"
									include ../../../componentes/input/textAsep/input.jade
									//input-textAsep
							else if index==5
								div(class="label-input")
									//input-textAsep
									//EmailValidar,NombreValidar,ApellidoValidar,contraseniaValidar,DniValidar,TelefonoValidar
									- tipoDeInput="DniValidar"
									- placeholder="Ej: 46712716"
									- tipo="text"
									include ../../../componentes/input/textAsep/input.jade
									//input-textAsep
							else if index==7
								div(class="label-input radioButonLinea radioMultipleMovil")
									div
										input(type="radio" class="radioSexo" name="sexo")
										span Hombre
										input(type="radio" class="radioSexo" name="sexo")
										span Mujer
							else if index==8 || index==9 || index==10 || index==11
								div(class="label-input")
									//select-asep
									- opcionInicial="Día"
									- opciones=[1,2,3,4]
									- classSelect="classSelect"
									include ../../../componentes/select/asep/select.jade
									//select-asep
							else if index==13
								- labelsRadiosButton =["Temas legales, Contables, Tributarios","Marketing, Publicidad, Ventas, Redes Sociales","Financiamiento, inversionistas","Modelo de negocios","Internacionalización","Propiedad Intelectual y patentamiento"]
								div(class="label-input radioMultipleMovil")
									div(class="RadioContenedor")
										each labelRadio in labelsRadiosButton
											div(class="RadioContenedorIndividual")
												input(type="radio")
												span=labelRadio
							else if index==14
								div(class="label-input radioButonLinea radioMultipleMovil")
									div
										input(type="radio" class="radioSexo")
										span Si
										input(type="radio" class="radioSexo")
										span No
							else
								div(class="label-input") input
							if index==12
								div
							else
								div(class="asterisco") *
				div(class="UltimoRadio")
					div
						input(type="radio")
					div
						span.
							Autorizo a la ASEP a conservar mis datos y utilizarlos para mantenerme informado acerca de sus actividades para que me inviten a colaborar y que me incluyan en su bolsa de oportunidades; conforme a lo establecido en la política de privacidad contenida en la página web. 
						a(href="#") Ver política de privacidad
				div(class="obligatorio") *Obligatorio
				div(class="botonGuardar")					
					//modal-asep					
					a(href='#guardarConExito' class="btn-guardarValidado")
						//button-asepAzul
						- contenido="GUARDAR"
						include ../../../componentes/button/asepAzul/button.jade
						//button-asepAzul
					div#guardarConExito.modal(aria-hidden='true')
						.modal-dialog
							.modal-header
								a.btn-close(href='#close', aria-hidden='true') ×
							.modal-body
								p Los Datos se guardaron exitosamente
							.modal-footer					
					//modal-asep

			div(class="pest")
				div(class="pest-Titulo").
					ESTAS A UN PASO DE CONVERTIRTE EN SOCIO DE LA ASEP, POR FAVOR CUÉNTANOS PARA HACER HACER DESPLEGAR TU EMPRENDIMIENTO.
				div(class="ContenedorEmpresasAgregadas")
				div(class="datosDeLaEmpresa") Datos de empresa
				div
					- labels=["Ruc: ","Razón Social: ","Nombre Comercial: ","Página web: ","Correo De Empresa: ","Fanpage: ","Twiter: ","Linkedin: ","Logotipo de tu empresa: ","Tipo de Actividad: ","Rubro: ","Tamaño De La Empresa: ","Número De Trabajadores: ","Inicio de Actividades: ","Descripción de tu empresa: "]
					div(class="labels")
						each label,index in labels
							div(class="labels-Cont")
								if index==14
									div(class="label-texto claseEspecial")=label
								else
									div(class="label-texto")=label
								if index==10
									div(class="label-input")
										//select-asep
										- opcionInicial="Día"
										- opciones=[1,2,3,4]
										- classSelect="classSelect"
										include ../../../componentes/select/asep/select.jade
										//select-asep								
								else if index==11
									- labelsRadiosButton =["Micro - 0 a 2.400 U.T.","Pequeña - 2.401 a 25.000 U.T.","Mediana - 25.001 a 100.000 U.T","Grande - más de 100.000 U.T"]
									div(class="label-input radioMultipleMovil")
										div(class="RadioContenedor")
											each labelRadio in labelsRadiosButton
												div(class="RadioContenedorIndividual")
													input(type="radio")
													span=labelRadio
								else if index==12
									div(class="label-input")
										input(type="number" min="1" class="inputNumber")
								else if index==8
									div(class="label-input")
										div(class="BrowseFile")
											//input-fileAsep
											- contenido="Browse"
											include ../../../componentes/input/fileAsep/input.jade
											//input-fileAsep
											span Min. 300x300 pixeles
								else if index==9
									div(class="label-input radioButonLinea radioMultipleMovil")
										div
											input(type="radio" class="radioSexo")
											span Producto
											input(type="radio" class="radioSexo")
											span Servicio
											input(type="radio" class="radioSexo")
											span Mixto
								else if index==13
									div(class="label-input")
										//select-asep
										- opcionInicial="Día"
										- opciones=[1,2,3,4]
										- classSelect="classSelect"
										include ../../../componentes/select/asep/select.jade
										//select-asep
								else if index==14
									div(class="label-input")
										div
											textarea(class="textareaPaso2")
										div(class="buttonAgregarOtraEmpresa")
											//button-asepAzul
											- contenido="+ Agregar otra Empresa"
											include ../../../componentes/button/asepAzul/button.jade
											//button-asepAzul
								else
									div(class="label-input") input
								if index==3 || index==5 || index==6 || index==7 || index==8
									div
								else if index==14
									div(class="asterisco claseEspecial") *
								else
									div(class="asterisco") *
					div(class="UltimoRadio")
						div
							input(type="radio")
						div
							span.
								Autorizo a la ASEP a conservar mis datos y utilizarlos para mantenerme informado acerca de sus actividades para que me inviten a colaborar y que me incluyan en su bolsa de oportunidades; conforme a lo establecido en la política de privacidad contenida en la página web. 
							a(href="#") Ver política de privacidad
					div(class="obligatorio") *Obligatorio
					div(class="botonGuardar")
						//button-asepAzul
						- contenido="GUARDAR Y SEGUIR"
						include ../../../componentes/button/asepAzul/button.jade
						//button-asepAzul
			div(class="pest") TRES
	//tabs-asep

block footer
	//redesSociales-asep
	include ../../../componentes/redesSociales/asep/redesSociales.jade
	//redesSociales-asep

	//footer-asep
	- rutaImagenes ='../../../imagenes'
	- colaborador1="inkuba.png"
	- colaborador2="clicksandbricks.png"
	- colaborador3="labase.png"
	- colaborador4="mujeres.png"
	- sponsor1="bid.png"
	- logoAsep="asep_footer.png"
	- logoFotterFin1="sombrero.png"
	include ../../../componentes/footer/asep/footer.jade
	//footer-asep
