div(class="contenedorDeItemAValidar")
	div(class="label-Input")=label
	if tipo=="text-area"
		textarea(placeholder=placeholder class="zkteTextAreaAsep " id=idInput)
	else if tipo=="text"
		input(type=tipo placeholder=placeholder class="zkteInputAsep " id=idInput)
	span(class='errorInputValidado' id="spanError-"+idInput) X